/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;

    @include tablet {
      margin: 0 -10px;
    }
  }

  &-item {
    border: .5px solid $brand_color;
    border-radius: 8px;
    box-sizing: border-box;
    color: $brand_color;
    display: flex;
    flex: 1 0 240px;
    margin: 0 0 20px;
    max-width: calc(25% - 20px);
    text-align: center;
    min-height: 150px;

    transition: all 0.2s ease-in-out;

    @include tablet {
      margin: 0 10px 20px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: #ffffff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      transition: all 0.2s ease-in-out;

      * {
        color: #000000;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $low-contrast-border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    color: $brand_color;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;

    &:visited,
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
    
    &:focus {
      @include focus-ring;
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }

  &-item-description {
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
