/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @include tablet {
    margin: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    color: $secondary-text-color;
    font-size: $font-size-small;
    flex-shrink: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    + li::before {
      content: ">";
      margin: 0 4px;
      flex-shrink: 0;
    }

    a:visited {
      color: $link_color;
    }
  }
}
