/***** My activities *****/
.my-activities {
  &-nav {
    background-color: $secondary-shade;
    margin-bottom: 20px;
  }

  &-sub-nav {
    margin-bottom: 30px;
  }

  &-table {
    .striped-list-title { /* My activities tables */
      display: block;
      margin-bottom: 10px;
      max-width: 350px;
      white-space: normal;

      @include desktop {
        margin-bottom: 0;
        max-width: 500px;
        min-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    thead {
      display: none;

      @include tablet { display: table-header-group; }
    }

    th:first-child,
    td:first-child {
      padding-left: 0;

      @include desktop { width: 500px; }
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
    }

    // On mobile, only show the first column
    td:not(:first-child) {
      display: none;

      @include tablet { display: table-cell; }
    }
  }
}

/* Requests table */
.requests {
  &-search {
    width: 100%;
  }

  &-table-toolbar {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    .search {
      flex: 1;
      width: 100%;
    }

    .request-table-filter {
      width: 100%;

      @include tablet {
        width: auto;
      }
    }

    .request-filter {
      display: block;

      @include tablet {
        margin: 0 0 0 30px;
        [dir="rtl"] & { margin: 0 30px 0 0; }
      }
    }

    .request-filter-label {
      font-size: $font-size-small;
      margin-top: 30px;

      @include tablet {
        margin-top: 0;
      }
    }

    select {
      max-height: 40px;
      margin-bottom: 30px;
      width: 100%;

      @include tablet {
        margin-bottom: 0;
        max-width: 300px;
        width: auto;
      }
    }

    .organization-subscribe {
      @include tablet {
        margin-left: 10px;
        [dir="rtl"] & { margin: 0 10px 0 0; }
      }

      button {
        @extend .button;
        line-height: 40px;
      max-height: 40px;
      padding: 0 20px;
        &[data-selected="true"] {
          @extend .button-primary;
        }
      }
    }

    & + .requests-search-info {
      margin-top: 15px;

      &.meta-data::after {
        content: "";
        margin: 0;
      }

      & + .requests {
        margin-top: 20px;
      }
    }

    & + .requests {
      margin-top: 40px;
    }
  }

  .requests-table {
    &-meta {
      display: block;

      @include tablet {
        display: none;
      }
    }

    thead {
      display: none;

      @include tablet { display: table-header-group; }
    }

    &-info {
      display: block;

      @include tablet {
        display: table-cell;
        vertical-align: middle;
        width: auto;
      }
    }

    .requests-link {
      position: relative;
    }

    .requests-sort-symbol {
      position: absolute;
      left: calc(100% + 3px);
      bottom: 0;
      font-size: 10px;
    }
  }
}

/* Following table */
.subscriptions {
  &-subscribe button {
    @extend .button;
    &[data-selected="true"] {
      @extend .button-primary;
    }

    @include tablet { width: auto; }
  }

  &-table {
    td:last-child {
      display: block;

      @include tablet { display: table-cell; }
    }

    td:first-child {
      display: flex;
      align-items: center;
    }

    .user-avatar {
      margin-right: 10px;
    }
  }

  .striped-list-title {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Contributions table */
.contributions-table {
  td:last-child {
    color: $secondary-text-color;
    font-size: $font-size-small;

    @include tablet {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.no-activities { color: $secondary-text-color; }
