// Component made for elements that are separated with space between
.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;

  @include tablet {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
  }

  .section-subscribe {
    flex-shrink: 0; //Avoid collapsing elements in Safari
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  h1 {
    flex-grow: 1;
    margin-bottom: 10px;
  }

  &-description {
    font-style: italic;
    margin: 0 0 30px 0;
    word-break: break-word;

    @include desktop {
      flex-basis: 100%;
    }
  }

  .icon-lock {
    height: 20px;
    width: 20px;
    position: relative;
    left: -5px;
    vertical-align: baseline;
  }
}

.category-search-container {
  margin: 2rem 0;
  padding: 0;
}
