/***** Search results *****/
.search-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
  }

  &-column {
    flex: 1;

    @include desktop {
      flex: 0 0 75%;
    }
  }

  &-sidebar {
    border-top: 1px solid $low-contrast-border-color;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;

    @include desktop {
      border: 0;
      flex: 0 0 20%;
      height: auto;
    }

    .sidenav-item {
      border-radius: 4px;
      padding: 10px 36px;
      margin-bottom: 4px;
      color: $text_color;

      &:hover,
      &.current {
        background-color: #e9ebed;
        text-decoration: none;
      }
    }

    .sidenav-subitem {
      unicode-bidi: embed;
    }

    .sidenav-tag {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-grow: 0;

      .content-tag {
        background: #E9EBED;
        border-radius: 4px;
        padding: 4px 12px;
        text-decoration: none;

        .label {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.000427656px;
          color: #49545C;
          flex-grow: 0;
          vertical-align: middle;
          display: inline-block;
        }

        .close-icon {
          color: #555555;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    .collapsible-sidebar {
      margin-bottom: 30px;

      &[aria-expanded="false"] {
        .multibrand-filter-list {
          display: none;

          @include desktop { display: block; }
        }
      }
    }

    .multibrand-filter-list--collapsed li:nth-child(1n + 6) {
      display: none;
    }

    .multibrand-filter-list .doc-count {
      color: $field-text-color;
    }

    .see-all-filters {
      background: none;
      border: none;
      cursor: pointer;
      display: block;
      padding: 10px;
      color: $link_color;

      &[aria-hidden="true"] {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: ' \2304';
        font-weight: bold;
      }
    }
  }

  &-count {
    font-size: 14px;
    color: #2F3941;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  &-subheading {
    font-size: 18px;
    font-weight: $font-weight-semibold;
  }

  &-list {
    margin-bottom: 25px;
    list-style: none;
    padding: 0;

    > li {
      padding: 0;
      margin-bottom: 32px;

      &:first-child {
        border-top: none;
      }
    }
  }

  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;

    .headline {
      color: #2F3941;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.45px;
    }

    .action-prompt {
      color: #68737D;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.154px;

      a {
        color: $link_color;

        &:visited {
          color: $link_color;
        }
      }
    }
  }
}

.search-result {
  &-card {
    h2 {
      margin: 0 0 4px 0 !important;
    }
  }

  &-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-votes,
  &-meta-count {
    color: $secondary-text-color;
    font-size: $font-size-small;

    &-icon {
      color: $brand_color;
      vertical-align: middle;
      width: 13px;
      height: 13px;
    }

    [dir="ltr"] & {
      margin-left: 20px;
    }

    [dir="rtl"] & {
      margin-right: 20px;
    }
  }

  &-meta-container {
    color: #666;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      align-items: center;
    }

    nav {
      @include desktop { flex: 1; }
    }

    .meta-data {
      &::after {
        content: none;
      }

      [dir="ltr"] & {
        @include desktop { margin-left: 20px; }
      }

      [dir="rtl"] & {
        @include desktop { margin-right: 20px; }
      }
    }
  }

  &-breadcrumbs {
    margin: 0;
  }

  &-description {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: #2F3941;
    word-break: break-word;
    min-height: 4.5em; // Show at least 3 lines of text

    &::before {
      content: '... ';
      color: #68737D;
    }

    em {
      font-style: normal;
      font-weight: 600;
      color: #000;
    }
  }
}

/* Keyword highlighting in search results */
.search-result-description em {
  font-style: normal;
  font-weight: 600;
  color: #000;
}

/* Add a yellow background for Chinese */
html[lang|="zh"] {
  .search-result-description em {
    font-style: normal;
    background: yellow;
  }
}
