/***** Status.io Bar *****/
.statusio-container {
  width: 100%;
  margin: 15px 0 0;
  display: flex;
  justify-content: center;
}

.statusio-bar {
  display: flex;
  justify-content: flex-start;
  max-width: 1360px;
  min-width: 1360px;
  padding: 10px 0;
  height: 77px;
  text-align: left;
  background-color: #f4f4f4; // Default background
  margin-top: 64px;
  transition: background-color 0.3s ease;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 8px;
  
  &:hover {
    opacity: 0.9;
  }
  
  &.operational {
    background-color: #D7EBDD; // Green for operational
  }
  
  &.degraded {
    background-color: #f39c12; // Orange for degraded performance
  }
  
  &.partial-outage {
    background-color: #e67e22; // Darker orange for partial outage
  }
  
  &.major-outage {
    background-color: #e74c3c; // Red for major outage
  }
  
  &.maintenance {
    background-color: #3498db; // Blue for maintenance
  }
}

.statusio-status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #379B55;
  font-weight: 600;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: left;
  width: 100%;  // Add width 100% to ensure full container width
  
  .operational & {
    color: #379B55;
  }
  
  .degraded &,
  .partial-outage &,
  .major-outage &,
  .maintenance & {
    color: #fff;
  }
}

.statusio-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0; // Prevent icon from shrinking
  
  .operational & {
    background-color: #379B55;
    position: relative;
    
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 4px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-45deg);
      margin-top: -1px;
    }
  }
  
  .degraded &,
  .partial-outage &,
  .major-outage &,
  .maintenance & {
    background-color: #fff;
  }
}

#statusio-message {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .statusio-bar {
    padding: 12px 0;
  }
  
  #statusio-message {
    font-size: 24px;
  }
  
  .statusio-icon {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 1400px) {
  .statusio-bar {
    min-width: auto;
    max-width: 100%;
  }
} 