@import "tailwindcss";
@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  /* New color variables */
  --color-bisque-dark: #f0d7bf;
  --color-bisque-light: #fbf2ea;
  --color-black: #000000;
  --color-blue-dark: #26639c;
  --color-blue-default: #2479c7;
  --color-blue-link: #2479c7;
  --color-charcoal: #333333;
  --color-curve-gray: #e8e8e8;
  --color-dark-mode-blue: #57b2ff;
  --color-dark-paper: #121212;
  --color-green: #67ae30;
  --color-gray-wave: #ebebeb;
  --color-hippa-blue: #2daae0;
  --color-ink-dark: #696969;
  --color-ink-darker: #333333;
  --color-ink-darkest: #171717;
  --color-ink-light: #cdcdcd;
  --color-ink-lightest: #f8f8f8;
  --color-flamingo: #f4a08c;
  --color-light-gray: #fcfcfc;
  --color-footer-gray: #1E1E1E;
  --color-ocean: #456367;
  --color-ocean-green: #456367;
  --color-paper-dark: #e6e4da;
  --color-paper-light: #f7f7f4;
  --color-podcast-green: #55797b;
  --color-primary: #cc4744;
  --color-primary-dark: #b43136;
  --color-primary-darker: #942b28;
  --color-primary-gradient-end: #e0826d;
  --color-primary-hover: #b43136;
  --color-primary-hover-alt: #bc423f;
  --color-pure-white: #ffffff;
  --color-salmon-dark: #f4a08c;
  --color-salmon-light: #facabf;
  --color-sand: #f9f5ed;
  --color-search-focus: #f9f8f8;
  --color-star-yellow: #f6d645;
  --color-status-green: #2fcc66;
  --color-subtitle: #6d6e6f;
  --color-tan-wave: #efdac4;
  --color-transparent: transparent;
  --color-dark-tan: #e6e4da;
  --color-vagaro-green: #456367;
  --color-light-pink: #fbf0f0;
  --color-light-tan: #f9f5ed;
  --color-pink: #f3ded3;
  --color-taupe: #f0d7bf;
  --color-wave-gray: #f3f3f3;
  --color-wave-gray-alt: #f8f8f8;
  --color-white: #ffffff;
  --color-white-smoke: #f4f4f4;
}
